.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../../../public/clapperboard-spilled-popcorn-red-cloth.jpg);
    background-size: cover;
  }
  
  .form-container {
    padding: 4rem 2rem;
    border: 5px solid #cd3723;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.725);


  }
  .form-container > div {
    margin-bottom: 12px;
  }
  
  .form-group {
    display: flex;
  }
  
  .form-group label {
    width: 70px;
    margin-right: 8px;
    text-align: left;
  }
  .errors {
    color: red;
    font-size: 12px;
  }
  .submit-container {
    margin-top: 12px;
    text-align: center;
  }
  .register-container {
    text-align: center;
  }
  .show-password {
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .h3{
    color: white;
  }