* {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem; 
}

.movieform-title{
  font-family: 'Bebas Neue', sans-serif; 
  font-size: 2.7rem; 
  margin-bottom: 4px; 
  background: linear-gradient(159deg, #0047ab 0%, #1ca9c9 100%);
  border: #cd3723;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;  
  letter-spacing: 0.1rem; 
  text-align: left;
  z-index: 1;
  color: black;
  margin-top: -9px; 
  width: fit-content; 
  max-width: 90%; 
}

.moviecontainer {
  margin-top: 1.8rem; 
  max-height: 72vh; 
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.moviecontainer::-webkit-scrollbar {
  display: none;
}

.search-container {
  border: 2px solid #0047ab; 
  padding: 9px;
  border-radius: 4px;
  align-items: center;
  background-color: rgba(0, 71, 171, 0.1);
  margin-left: 21rem;
  max-width: 600px;
}

.search-input {
  border-color: #0047ab; 
  color: black;
}

.search-button {
  background-color: #1ca9c9; 
  color: white;
  border: none;
  border-radius: 4px;
  height: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover {
  background-color: white;
  color: blue;
  border: 2px solid #eaeaea;
  transform: scale(1.05);
}

.searched-movie {
  max-height: 180px; 
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 9px; 
}

.searched-movie::-webkit-scrollbar {
  display: none;
}

.searched-movie p {
  padding: 7.2px; 
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 0;
  color: white;
}

.searched-movie p:hover {
  background-color: #0047ab;
  color: white;
}

.pagination-container {
  margin: 0.9rem; 
  text-align: center;
}

.pagination-container button {
  width: 90px; 
  padding: 7.2px 14.4px; 
  background-color: #1ca9c9; 
  color: white;
  border: none;
  border-radius: 3.6px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-container button:hover {
  background-color: white;
  color: blue;
  border: 2px solid #eaeaea;
  transform: scale(1.05);
}

.pagination-container span {
  margin: 0 13.5px; 
}

.row {
  display: flex;
  align-items: flex-start; 
  gap: 0.9rem; 
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 7.2px;
}

.poster-col {
  flex: 1;
  max-width: 28%; 
  max-height: 28%; 
  margin-top: 50px; 
  
}

.movie-details {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 8rem; 
}

.poster-image {
  margin-top: 0;  
  margin-left: 12rem;
  max-width: 78%; 
  max-height: 82%;
  border-radius: 7.2px;      
  box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.921);
  margin-right: 6rem;
}

.movieform-group input,
.movieform-group textarea {
  font-size: 0.81rem; 
  padding: 5.4px; 
  width: 100%;
  margin: 4.5px; 
  padding: 9px;
  border: 0.9px solid #ccc; 
  border-radius: 3.6px; 
  font-family: 'Arial', sans-serif;
  border-color: #0047ab; 
  color: black; 
}

.movieform-group label{
  color: black;
}

.featured{
  color: black;
}

.search-label{
  font-size: large;
}

.seletor-feature{
  width: 100%;
  padding: 9px; 
  margin: 4.5px;
  padding: 9px; 
  border: 0.9px solid #ccc; 
  border-radius: 3.6px; 
  
}
.movieform-group button {
  margin-top: 18px; 
}

 
.save-button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background: #1ca9c9;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.save-button:hover {
  background-color: white;
  color: blue;
  border: 2px solid #eaeaea;
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .save-button {
      width: 100%; 
  }
}

.moviebtn {
  cursor: pointer;
}

.movieform-container {
  max-height: 72vh; 
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-input {
  width: 100%;
  max-width: 450px; 
}

.search-button {
  width: 108px; 
}

.not-found-message {
  opacity: 0.6;
  background-color: #ff0000;
  color: white;
  padding: 9px; 
  border-radius: 4.5px; 
  margin-top: 13.5px; 
}

.prev-button,
.next-button {
  width: 90px; 
  padding: 7.2px 14.4px; 
  background-color: #4579e9;
  color: white;
  border: none;
  border-radius: 3.6px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.prev-button:hover,
.next-button:hover {
  background-color: #5542ff;
  transform: scale(1.05);
}

.movie-item {
  cursor: pointer;
  border: 0.9px solid #ccc; 
  padding: 7.2px; 
  border-radius: 4.5px;
  margin: 4.5px 0; 
  transition: background-color 0.3s ease;
}

.movie-item:hover {
  background-color: #ff7b00;
  color: white;
}

.movieform-group {
  margin-bottom: 1.35rem; 
}

.moviebtn-success {
  width: 100%;
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 10.8px;
  border-radius: 4.5px; 
  transition: background-color 0.3s ease;
}

.moviebtn-success:hover {
  background-color: #ff9e42;
}

@media (max-width: 650px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .poster-col,
  .movie-details {
    max-width: 100%;
  }
}
.movie-details-container {
  display: flex;
  flex-direction: column; 
  gap: 1.8rem; 
}

.form-mvdetails {
  background-color: #d3d3d398;
  border: 2px solid #0047ab; 
  padding: 7.2px;
  padding-right: 10.8px;
  border-radius: 7.2px;
  box-shadow: 0 3.6px 10.8px rgba(0, 0, 0, 0.1);
  margin-top: 7.2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-left: 16.2%;
  height: 405px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}


.form-mvdetails::-webkit-scrollbar {
  display: none;
}

.additional-info-container {
  background-color: #f9f9f9;
  padding: 0.9rem; 
  border-radius: 7.2px;
  box-shadow: 0 3.6px 10.8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 20px; 
  list-style: none; 
  padding: 0; 
}

.tabs li {
  flex: 1; 
  text-align: center;
  padding: 10px 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 4px; 
  min-width: 100px; 
  max-width: 200px; 
  background: #1ca9c9; 
  color: white; 
} 

.tabs li:hover {
  border: 2px solid #eaeaea; 
  transform: scale(1.05); 
}

.tabs li.active {
  background: #1ca9c9; 
  color: white; 
  transform: scale(1.05); 
}

.tabs-content {
  margin-top: 0.9rem; 
  padding: 0.9rem; 
  background-color: rgb(128, 128, 128);
  border-radius: 7.2px; 
  box-shadow: 0 1.8px 7.2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .row {
      flex-direction: column; 
  }

  .tabs {
      flex-direction: column;
  }

  .tabs li {
      text-align: center;
  }
}